<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnPremise" value="true"/>
    <add key="GaloreBaseUrl" value="http://localhost:5050/api/v2/" />
    <add key="AuthorityUrl" value="https://localhost:9445/connect/token" />
    <add key="TenantId" value="" />
    <add key="ClientId" value="poseidon-cli" />
    <add key="ClientSecret" value="dghDfqWTwJk02dVV89oOiwZc4nD9WGcOeIvd9LmmBmg=" />
    <add key="GrantType" value="client_credentials" />
    <add key="Scope" value="openid profile" />
    <add key="Resource" value="6c6cc450-575f-4661-994b-e5cab73cdf3e" />

    <!--<add key="OnPremise" value="false"/>
    <add key="GaloreBaseUrl" value="https://api.staging.kognif.ai/Galore/v2/api/" />
    <add key="AuthorityUrl" value="https://login.microsoftonline.com/" />
    <add key="TenantId" value="b57d6ab5-8f1b-4a23-b478-cae4f172fdf7" />
    <add key="ClientId" value="19eb175e-78a3-4ac8-b50d-a25c67e99f5f" />
    <add key="ClientSecret" value="2?sKHu/W/Kx[LjXnUwptlsKAY7339prd" />
    <add key="GrantType" value="client_credentials" />
    <add key="Scope" value="openid profile galore" />
    <add key="Resource" value="6c6cc450-575f-4661-994b-e5cab73cdf3e" />-->
  </appSettings>
</configuration>