<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnPremise" value="false"/>
    <add key="GaloreBaseUrl" value="http://localhost:5050/api/v2/" />
    <add key="AuthorityUrl" value="https://localhost:9445/connect/token" />
    <add key="TenantId" value="" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="GrantType" value="client_credentials" />
    <add key="Scope" value="openid profile" />
    <add key="Resource" value="" />
  </appSettings>
</configuration>