<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <!--Example staging config-->
    <add key="OnPremise" value="false"/>
    <add key="GaloreBaseUrl" value="https://api.staging.kognif.ai/assets/v2-preview/api/v2/" />
    <add key="AuthorityUrl" value="https://login.microsoftonline.com/" />
    <add key="TenantId" value="{tenant-id}" />
    <add key="ClientId" value="{client-id}" />
    <add key="ClientSecret" value="{client-secret}" />
    <add key="GrantType" value="client_credentials" />
    <add key="Scope" value="openid profile" />
    <add key="Resource" value="{resource-id}" />
    <add key="APIMSubscriptionKey" value="{apim-sub-key}"/>
  </appSettings>
</configuration>